In [1]:
import pandas as pd
import numpy as np

List out data directories here

In [4]:
datafiles = [
    'AEX',
    'ATX',
    'BEL_20',
    'BIST_100',
    'Bovespa',
    'BSE_Sensex',
    'CAC40',
    'CSE',
    'DAX_PERFORMANCE-INDEX',
    "Dow_30",
    "Euro_Stoxx_50",
    "EURONEXT_100",
    "HANG_SENG_INDEX",
    "IBEX_35",
    "IDX_Composite",
    "KOSPI_Composite_Index",
    "MOEX_Russia_Index",
    "Nasdaq",
    "Nifty_50",
    "IPC_MEXICO",
    "MERVAL",
    "Nikkei_225",
    "Russell_2000",
    "SP_500",
    "SP_NZX_50_INDEX_GROSS",
    "SP_TSX_Composite_index",
    "SMI",
    "SSE",
    "TA_35",
    "Taiwan_Weighted"
]

Load the dataframes into a dictionary

In [5]:
dataframes = {
    datafile: pd.read_csv('data/' + datafile + '/data.csv')
    for datafile in datafiles
}

- Add data directory as name
- Drop NaN rows
- Show summary of contents

In [6]:
for name, frame in dataframes.items():
    frame['index'] = name
    frame = frame.dropna()
    print('{}: {} rows'.format(name, len(frame)))
    print(frame.head())
    print("/n")
    print("-------------------------------------")

AEX: 1316 rows
         Date        Open        High         Low       Close   Adj Close  \
0  2015-01-22  442.040009  449.029999  440.410004  447.769989  447.769989
1  2015-01-23  451.019989  457.100006  450.279999  454.559998  454.559998
2  2015-01-26  452.619995  459.440002  452.619995  459.140015  459.140015
3  2015-01-27  458.339996  459.059998  451.489990  454.459991  454.459991
4  2015-01-28  457.029999  457.570007  450.250000  452.299988  452.299988

      Volume index
0  146101500   AEX
1  154310000   AEX
2  105834300   AEX
3   96891500   AEX
4  105376300   AEX
/n
-------------------------------------
ATX: 1271 rows
         Date         Open         High          Low        Close  \
0  2015-01-22  2191.949951  2230.090088  2188.489990  2230.090088
1  2015-01-23  2230.909912  2266.449951  2221.179932  2227.649902
2  2015-01-26  2227.379883  2253.449951  2209.010010  2252.139893
3  2015-01-27  2252.139893  2253.760010  2212.729980  2223.729980
4  2015-01-28  2224.649902  2234.229980  2181.790039  2194.139893

     Adj Close     Volume index
0  2230.090088  8493400.0   ATX
1  2227.649902  9606900.0   ATX
2  2252.139893  7592300.0   ATX
3  2223.729980  8867100.0   ATX
4  2194.139893  9948500.0   ATX
/n
-------------------------------------
BEL_20: 1314 rows
         Date         Open         High          Low        Close  \
0  2015-01-22  3425.310059  3462.939941  3397.800049  3456.949951
1  2015-01-23  3477.070068  3532.429932  3471.760010  3504.610107
2  2015-01-26  3495.020020  3551.899902  3492.760010  3549.959961
3  2015-01-27  3551.780029  3565.830078  3516.110107  3530.800049
4  2015-01-28  3544.129883  3545.780029  3504.340088  3541.209961

     Adj Close  Volume   index
0  3456.949951     0.0  BEL_20
1  3504.610107     0.0  BEL_20
2  3549.959961     0.0  BEL_20
3  3530.800049     0.0  BEL_20
4  3541.209961     0.0  BEL_20
/n
-------------------------------------
BIST_100: 766 rows
         Date          Open          High           Low         Close  \
0  2015-01-22  90902.796875  90902.796875  90902.796875  90902.796875
1  2015-01-23  90736.000000  90736.000000  90736.000000  90736.000000
2  2015-01-26  91412.898438  91412.898438  91412.898438  91412.898438
3  2015-01-27  91150.000000  91150.000000  91150.000000  91150.000000
5  2015-01-29  88557.796875  88557.796875  88557.796875  88557.796875

      Adj Close  Volume     index
0  90902.796875     0.0  BIST_100
1  90736.000000     0.0  BIST_100
2  91412.898438     0.0  BIST_100
3  91150.000000     0.0  BIST_100
5  88557.796875     0.0  BIST_100
/n
-------------------------------------
Bovespa: 1271 rows
         Date     Open     High      Low    Close  Adj Close     Volume  \
0  2015-01-22  49227.0  50281.0  49227.0  49443.0    49443.0  4952300.0
1  2015-01-23  49432.0  49523.0  48496.0  48775.0    48775.0  3081600.0
2  2015-01-26  48712.0  48712.0  48004.0  48577.0    48577.0  2774200.0
3  2015-01-27  48577.0  48864.0  47352.0  48591.0    48591.0  3890900.0
4  2015-01-28  48589.0  48589.0  47550.0  47695.0    47695.0  4241400.0

     index
0  Bovespa
1  Bovespa
2  Bovespa
3  Bovespa
4  Bovespa
/n
-------------------------------------
BSE_Sensex: 1263 rows
         Date          Open          High           Low         Close  \
0  2015-01-22  28957.789063  29060.410156  28892.230469  29006.019531
1  2015-01-23  29189.449219  29408.730469  29165.560547  29278.839844
2  2015-01-27  29451.650391  29618.589844  29286.089844  29571.039063
3  2015-01-28  29565.720703  29786.320313  29417.669922  29559.179688
4  2015-01-29  29516.490234  29740.630859  29378.300781  29681.769531

      Adj Close   Volume       index
0  29006.019531  11100.0  BSE_Sensex
1  29278.839844  11900.0  BSE_Sensex
2  29571.039063  11300.0  BSE_Sensex
3  29559.179688  11200.0  BSE_Sensex
4  29681.769531  12700.0  BSE_Sensex
/n
-------------------------------------
CAC40: 1315 rows
         Date         Open         High          Low        Close  \
0  2015-01-22  4486.759766  4569.549805  4462.169922  4552.799805
1  2015-01-23  4588.490234  4673.299805  4585.640137  4640.689941
2  2015-01-26  4620.000000  4678.830078  4616.609863  4675.129883
3  2015-01-27  4671.759766  4679.259766  4592.620117  4624.209961
4  2015-01-28  4660.450195  4660.879883  4582.580078  4610.939941

     Adj Close       Volume  index
0  4552.799805  208073500.0  CAC40
1  4640.689941  222514400.0  CAC40
2  4675.129883  127771700.0  CAC40
3  4624.209961  145807700.0  CAC40
4  4610.939941  130618600.0  CAC40
/n
-------------------------------------
CSE: 1292 rows
         Date          Open          High           Low         Close  \
0  2015-01-22  14589.500000  14792.500000  14589.500000  14764.000000
1  2015-01-23  14775.099609  14853.299805  14741.599609  14779.400391
2  2015-01-26  14787.700195  14803.700195  14702.900391  14797.799805
3  2015-01-27  14773.500000  14838.799805  14656.299805  14833.900391
4  2015-01-28  14849.299805  14852.700195  14599.700195  14602.900391

      Adj Close     Volume index
0  14764.000000  266872000   CSE
1  14779.400391  226367700   CSE
2  14797.799805  186840600   CSE
3  14833.900391  223926700   CSE
4  14602.900391  239058900   CSE
/n
-------------------------------------
DAX_PERFORMANCE-INDEX: 1301 rows
         Date          Open          High           Low         Close  \
0  2015-01-22  10300.259766  10454.049805  10228.530273  10435.620117
1  2015-01-23  10503.330078  10704.320313  10502.849609  10649.580078
2  2015-01-26  10592.969727  10807.570313  10589.070313  10798.330078
3  2015-01-27  10785.900391  10810.570313  10592.459961  10628.580078
4  2015-01-28  10719.400391  10728.830078  10552.759766  10710.969727

      Adj Close       Volume                  index
0  10435.620117  151255800.0  DAX_PERFORMANCE-INDEX
1  10649.580078  167797300.0  DAX_PERFORMANCE-INDEX
2  10798.330078  105118600.0  DAX_PERFORMANCE-INDEX
3  10628.580078  115893500.0  DAX_PERFORMANCE-INDEX
4  10710.969727  113074200.0  DAX_PERFORMANCE-INDEX
/n
-------------------------------------
Dow_30: 1296 rows
         Date          Open          High           Low         Close  \
0  2015-01-22  17557.289063  17840.890625  17482.539063  17813.980469
1  2015-01-23  17812.500000  17812.500000  17667.529297  17672.599609
2  2015-01-26  17668.109375  17696.359375  17567.599609  17678.699219
3  2015-01-27  17638.529297  17638.529297  17288.310547  17387.210938
4  2015-01-28  17402.910156  17484.410156  17189.000000  17191.369141

      Adj Close     Volume   index
0  17813.980469  111980000  Dow_30
1  17672.599609   97110000  Dow_30
2  17678.699219   87220000  Dow_30
3  17387.210938  135940000  Dow_30
4  17191.369141  115980000  Dow_30
/n
-------------------------------------
Euro_Stoxx_50: 770 rows
          Date       Open       High        Low      Close  Adj Close  \
0   2015-01-22  61.160000  62.200001  61.110001  62.200001  62.200001
1   2015-01-23  63.099998  63.099998  63.099998  63.099998  63.099998
26  2015-02-27  66.790001  66.790001  66.790001  66.790001  66.790001
34  2015-03-11  67.610001  67.610001  67.610001  67.610001  67.610001
42  2015-03-23  69.120003  69.120003  69.120003  69.120003  69.120003

     Volume          index
0   10600.0  Euro_Stoxx_50
1    2000.0  Euro_Stoxx_50
26    500.0  Euro_Stoxx_50
34    500.0  Euro_Stoxx_50
42   2000.0  Euro_Stoxx_50
/n
-------------------------------------
EURONEXT_100: 1316 rows
         Date        Open        High         Low       Close   Adj Close  \
0  2015-01-22  882.210022  896.640015  877.929993  894.260010  894.260010
1  2015-01-23  901.099976  917.619995  900.330017  911.729980  911.729980
2  2015-01-26  907.630005  920.400024  907.630005  920.000000  920.000000
3  2015-01-27  919.510010  921.109985  906.239990  911.380005  911.380005
4  2015-01-28  917.599976  917.729980  904.039978  909.719971  909.719971

        Volume         index
0  924727500.0  EURONEXT_100
1  804870700.0  EURONEXT_100
2  508508000.0  EURONEXT_100
3  457454300.0  EURONEXT_100
4  858613300.0  EURONEXT_100
/n
-------------------------------------
HANG_SENG_INDEX: 1268 rows
         Date          Open          High           Low         Close  \
0  2015-01-22  24480.019531  24589.619141  24438.980469  24522.630859
1  2015-01-23  24807.359375  24896.220703  24726.769531  24850.449219
2  2015-01-26  24907.189453  24916.490234  24761.550781  24909.900391
3  2015-01-27  24995.080078  24995.080078  24672.759766  24807.279297
4  2015-01-28  24799.980469  24983.890625  24716.679688  24861.810547

      Adj Close        Volume            index
0  24522.630859  1.679836e+09  HANG_SENG_INDEX
1  24850.449219  2.375624e+09  HANG_SENG_INDEX
2  24909.900391  1.321616e+09  HANG_SENG_INDEX
3  24807.279297  1.705133e+09  HANG_SENG_INDEX
4  24861.810547  1.361037e+09  HANG_SENG_INDEX
/n
-------------------------------------
IBEX_35: 1316 rows
         Date          Open          High           Low         Close  \
0  2015-01-22  10382.200195  10560.900391  10339.599609  10510.599609
1  2015-01-23  10604.900391  10693.000000  10532.400391  10581.500000
2  2015-01-26  10502.599609  10716.900391  10451.000000  10696.099609
3  2015-01-27  10669.500000  10707.099609  10528.099609  10598.900391
4  2015-01-28  10676.599609  10687.000000  10395.599609  10456.900391

      Adj Close       Volume    index
0  10510.588867  508500200.0  IBEX_35
1  10581.489258  493574600.0  IBEX_35
2  10696.088867  309103700.0  IBEX_35
3  10598.889648  322879500.0  IBEX_35
4  10456.889648  366625000.0  IBEX_35
/n
-------------------------------------
IDX_Composite: 1254 rows
         Date         Open         High          Low        Close  \
0  2015-01-22  5215.640137  5267.571777  5215.025879  5253.183105
1  2015-01-23  5281.183105  5325.039063  5281.183105  5323.884766
2  2015-01-26  5302.639160  5309.523926  5208.421875  5260.023926
3  2015-01-27  5254.457031  5277.148926  5243.752930  5277.148926
4  2015-01-28  5272.221191  5279.914063  5263.544922  5268.852051

     Adj Close      Volume          index
0  5253.026855  60342700.0  IDX_Composite
1  5323.726563  61824800.0  IDX_Composite
2  5259.867676  47668400.0  IDX_Composite
3  5276.992676  40300400.0  IDX_Composite
4  5268.695801  45228300.0  IDX_Composite
/n
-------------------------------------
KOSPI_Composite_Index: 1256 rows
         Date         Open         High          Low        Close  \
0  2015-01-22  1926.010010  1932.500000  1916.560059  1920.819946
1  2015-01-23  1945.359985  1945.359985  1930.650024  1936.089966
2  2015-01-26  1928.260010  1936.400024  1924.140015  1935.680054
3  2015-01-27  1941.900024  1952.410034  1940.719971  1952.400024
4  2015-01-28  1946.709961  1963.530029  1943.589966  1961.579956

     Adj Close    Volume                  index
0  1920.819946  343100.0  KOSPI_Composite_Index
1  1936.089966  367700.0  KOSPI_Composite_Index
2  1935.680054  330600.0  KOSPI_Composite_Index
3  1952.400024  467000.0  KOSPI_Composite_Index
4  1961.579956  400900.0  KOSPI_Composite_Index
/n
-------------------------------------
MOEX_Russia_Index: 1278 rows
         Date         Open         High          Low        Close  \
0  2015-01-22  1618.680054  1676.369995  1618.540039  1666.560059
1  2015-01-23  1667.989990  1700.770020  1662.119995  1671.800049
2  2015-01-26  1670.229980  1670.300049  1622.140015  1642.369995
3  2015-01-27  1642.310059  1681.439941  1614.920044  1673.920044
4  2015-01-28  1675.300049  1706.290039  1643.420044  1647.709961

     Adj Close  Volume              index
0  1666.560059     0.0  MOEX_Russia_Index
1  1671.800049     0.0  MOEX_Russia_Index
2  1642.369995     0.0  MOEX_Russia_Index
3  1673.920044     0.0  MOEX_Russia_Index
4  1647.709961     0.0  MOEX_Russia_Index
/n
-------------------------------------
Nasdaq: 1296 rows
         Date         Open         High          Low        Close  \
0  2015-01-22  4690.930176  4752.600098  4644.569824  4750.399902
1  2015-01-23  4748.189941  4771.180176  4737.950195  4757.879883
2  2015-01-26  4752.359863  4774.180176  4734.200195  4771.759766
3  2015-01-27  4698.229980  4721.870117  4659.830078  4681.500000
4  2015-01-28  4740.689941  4742.060059  4637.479980  4637.990234

     Adj Close      Volume   index
0  4750.399902  1996550000  Nasdaq
1  4757.879883  1653830000  Nasdaq
2  4771.759766  1717510000  Nasdaq
3  4681.500000  1954160000  Nasdaq
4  4637.990234  2118680000  Nasdaq
/n
-------------------------------------
Nifty_50: 1261 rows
         Date         Open         High          Low        Close  \
0  2015-01-22  8745.849609  8774.150391  8727.000000  8761.400391
1  2015-01-23  8827.950195  8866.400391  8795.400391  8835.599609
2  2015-01-27  8871.349609  8925.049805  8825.450195  8910.500000
3  2015-01-28  8902.750000  8985.049805  8874.049805  8914.299805
4  2015-01-29  8901.500000  8966.650391  8861.250000  8952.349609

     Adj Close    Volume     index
0  8761.400391  175500.0  Nifty_50
1  8835.599609  191200.0  Nifty_50
2  8910.500000  192000.0  Nifty_50
3  8914.299805  185100.0  Nifty_50
4  8952.349609  256300.0  Nifty_50
/n
-------------------------------------
IPC_MEXICO: 1293 rows
         Date          Open          High           Low         Close  \
0  2015-01-22  42489.378906  43165.558594  42488.820313  43121.281250
1  2015-01-23  43123.171875  43124.441406  42618.031250  42649.718750
2  2015-01-26  42649.101563  42831.750000  42360.730469  42737.851563
3  2015-01-27  42737.851563  42737.851563  42128.230469  42627.820313
4  2015-01-28  42627.820313  42743.468750  42158.070313  42158.070313

      Adj Close     Volume       index
0  43121.281250  269586300  IPC_MEXICO
1  42649.718750  177289400  IPC_MEXICO
2  42737.851563  182968600  IPC_MEXICO
3  42627.820313  166083900  IPC_MEXICO
4  42158.070313  171120600  IPC_MEXICO
/n
-------------------------------------
MERVAL: 1253 rows
         Date         Open         High          Low        Close  \
0  2015-01-22  8676.089844  8821.429688  8676.089844  8774.660156
1  2015-01-23  8722.509766  8756.750000  8664.089844  8737.589844
2  2015-01-26  8737.589844  8808.769531  8628.980469  8808.769531
3  2015-01-27  8803.530273  9022.660156  8725.230469  9014.509766
4  2015-01-28  8911.990234  8911.990234  8686.200195  8772.519531

     Adj Close  Volume   index
0  8774.660156     0.0  MERVAL
1  8737.589844     0.0  MERVAL
2  8808.769531     0.0  MERVAL
3  9014.509766     0.0  MERVAL
4  8772.519531     0.0  MERVAL
/n
-------------------------------------
Nikkei_225: 1261 rows
         Date          Open          High           Low         Close  \
0  2015-01-22  17306.640625  17355.740234  17229.210938  17329.019531
1  2015-01-23  17520.630859  17532.060547  17460.759766  17511.750000
2  2015-01-26  17285.710938  17471.939453  17285.710938  17468.519531
3  2015-01-27  17649.400391  17768.410156  17633.470703  17768.300781
4  2015-01-28  17615.929688  17850.589844  17615.929688  17795.730469

      Adj Close    Volume       index
0  17329.019531  121900.0  Nikkei_225
1  17511.750000  132500.0  Nikkei_225
2  17468.519531  111600.0  Nikkei_225
3  17768.300781  139700.0  Nikkei_225
4  17795.730469  141900.0  Nikkei_225
/n
-------------------------------------
Russell_2000: 1296 rows
         Date         Open         High          Low        Close  \
0  2015-01-22  1172.500000  1190.369995  1161.300049  1190.369995
1  2015-01-23  1190.260010  1194.150024  1185.500000  1188.930054
2  2015-01-26  1188.930054  1200.739990  1181.770020  1200.739990
3  2015-01-27  1190.339966  1199.770020  1186.160034  1194.660034
4  2015-01-28  1200.680054  1201.239990  1172.729980  1175.119995

     Adj Close    Volume         index
0  1190.369995  41760500  Russell_2000
1  1188.930054  35735600  Russell_2000
2  1200.739990  34657600  Russell_2000
3  1194.660034  33298100  Russell_2000
4  1175.119995  40675300  Russell_2000
/n
-------------------------------------
SP_500: 1296 rows
         Date         Open         High          Low        Close  \
0  2015-01-22  2034.300049  2064.620117  2026.380005  2063.149902
1  2015-01-23  2062.979980  2062.979980  2050.540039  2051.820068
2  2015-01-26  2050.419922  2057.620117  2040.969971  2057.090088
3  2015-01-27  2047.859985  2047.859985  2019.910034  2029.550049
4  2015-01-28  2032.339966  2042.489990  2001.489990  2002.160034

     Adj Close      Volume   index
0  2063.149902  4176050000  SP_500
1  2051.820068  3573560000  SP_500
2  2057.090088  3465760000  SP_500
3  2029.550049  3329810000  SP_500
4  2002.160034  4067530000  SP_500
/n
-------------------------------------
SP_NZX_50_INDEX_GROSS: 1294 rows
         Date         Open         High          Low        Close  \
0  2015-01-22  5669.830078  5686.410156  5647.149902  5647.149902
1  2015-01-23  5667.759766  5713.299805  5647.149902  5675.240234
2  2015-01-26  5680.220215  5703.049805  5673.299805  5698.660156
3  2015-01-27  5691.799805  5737.740234  5690.180176  5737.740234
4  2015-01-28  5713.290039  5794.819824  5710.660156  5794.819824

     Adj Close      Volume                  index
0  5647.149902  24038500.0  SP_NZX_50_INDEX_GROSS
1  5675.240234  34304500.0  SP_NZX_50_INDEX_GROSS
2  5698.660156  14846900.0  SP_NZX_50_INDEX_GROSS
3  5737.740234  30722300.0  SP_NZX_50_INDEX_GROSS
4  5794.819824  43803000.0  SP_NZX_50_INDEX_GROSS
/n
-------------------------------------
SP_TSX_Composite_index: 1292 rows
         Date          Open          High           Low         Close  \
0  2015-01-22  14589.500000  14792.500000  14589.500000  14764.000000
1  2015-01-23  14775.099609  14853.299805  14741.599609  14779.400391
2  2015-01-26  14787.700195  14803.700195  14702.900391  14797.799805
3  2015-01-27  14773.500000  14838.799805  14656.299805  14833.900391
4  2015-01-28  14849.299805  14852.700195  14599.700195  14602.900391

      Adj Close     Volume                   index
0  14764.000000  266872000  SP_TSX_Composite_index
1  14779.400391  226367700  SP_TSX_Composite_index
2  14797.799805  186840600  SP_TSX_Composite_index
3  14833.900391  223926700  SP_TSX_Composite_index
4  14602.900391  239058900  SP_TSX_Composite_index
/n
-------------------------------------
SMI: 1293 rows

         Date         Open         High          Low        Close  \
0  2015-01-22  8005.140137  8013.600098  7860.490234  7999.479980
1  2015-01-23  8024.950195  8166.370117  7996.279785  8161.160156
2  2015-01-26  8152.759766  8311.309570  8144.609863  8296.450195
3  2015-01-27  8315.820313  8443.700195  8307.830078  8402.820313
4  2015-01-28  8415.639648  8440.240234  8300.370117  8311.549805

     Adj Close  Volume index
0  7999.479980       0   SMI
1  8161.160156       0   SMI
2  8296.450195       0   SMI
3  8402.820313       0   SMI
4  8311.549805       0   SMI
/n
-------------------------------------
SSE: 635 rows
         Date         Open         High          Low        Close  \
0  2015-01-22  3327.319092  3352.384033  3293.978027  3343.343994
1  2015-01-23  3357.095947  3406.785889  3328.292969  3351.763916
2  2015-01-26  3347.257080  3384.798096  3321.314941  3383.181885
3  2015-01-27  3389.853027  3390.216064  3290.218994  3352.959961
4  2015-01-28  3325.721924  3354.802002  3294.655029  3305.738037

     Adj Close    Volume index
0  3343.343994  353400.0   SSE
1  3351.763916  366200.0   SSE
2  3383.181885  317500.0   SSE
3  3352.959961  374500.0   SSE
4  3305.738037  301900.0   SSE
/n
-------------------------------------
TA_35: 1243 rows
         Date         Open         High          Low        Close  \
0  2015-01-22  1461.930054  1462.709961  1452.569946  1455.660034
1  2015-01-25  1459.939941  1462.589966  1457.469971  1459.560059
2  2015-01-26  1456.260010  1465.680054  1455.449951  1460.439941
3  2015-01-27  1462.380005  1464.569946  1452.079956  1455.250000
4  2015-01-28  1460.410034  1461.050049  1446.540039  1453.170044

     Adj Close      Volume  index
0  1455.660034  62737500.0  TA_35
1  1459.560059  66395000.0  TA_35
2  1460.439941  43427700.0  TA_35
3  1455.250000  48915400.0  TA_35
4  1453.170044  26382100.0  TA_35
/n
-------------------------------------
Taiwan_Weighted: 1248 rows
         Date         Open         High          Low        Close  \
0  2015-01-22  9336.809570  9386.559570  9336.809570  9369.509766
1  2015-01-23  9422.000000  9471.799805  9422.000000  9470.940430
2  2015-01-26  9474.559570  9478.530273  9436.469727  9477.669922
3  2015-01-27  9505.559570  9523.730469  9471.190430  9521.589844
4  2015-01-28  9503.200195  9515.290039  9471.309570  9510.919922

     Adj Close     Volume            index
0  9369.475586  2387200.0  Taiwan_Weighted
1  9470.905273  2647100.0  Taiwan_Weighted
2  9477.634766  1906500.0  Taiwan_Weighted
3  9521.554688  1875400.0  Taiwan_Weighted
4  9510.884766  1784400.0  Taiwan_Weighted
/n
-------------------------------------

In [7]:
atx = dataframes['ATX']
atx.head()

,Date,Open,High,Low,Close,Adj Close,Volume,index
0,2015-01-22,2191.949951,2230.090088,2188.489990,2230.090088,2230.090088,8493400.0,ATX
1,2015-01-23,2230.909912,2266.449951,2221.179932,2227.649902,2227.649902,9606900.0,ATX
2,2015-01-26,2227.379883,2253.449951,2209.010010,2252.139893,2252.139893,7592300.0,ATX
3,2015-01-27,2252.139893,2253.760010,2212.729980,2223.729980,2223.729980,8867100.0,ATX
4,2015-01-28,2224.649902,2234.229980,2181.790039,2194.139893,2194.139893,9948500.0,ATX